<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>Grade1 English</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/" class="logo-link">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="200">
      </a>
        <h1 class="header-title">Grade1 English</h1>
      <nav>   
          <ul>
          <li><a href="/">Home</a></li>
          <li style="pointer-events: none; color: #ccc;">|</li>
          <li><a href="/about">About</a></li>
        </ul>   
      </nav>
      </div>
  </header>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfkOHmruo6BUDyCi8JgI0EAlr4wQkSuE0DronzpTHcs1kXC2w/viewform?usp=header">正在加载…</iframe></body>
</body>
</html>
