<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>Grade2 English</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/" class="logo-link">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="200">
      </a>
        <h1 class="header-title">Grade2 English</h1>
      <nav>   
          <ul>
          <li><a href="/">Home</a></li>
          <li style="pointer-events: none; color: #ccc;">|</li>
          <li><a href="/about">About</a></li>
        </ul>   
      </nav>
      </div>
  </header>
<iframe src="~" width="640" height="1904" frameborder="0" marginheight="0" marginwidth="0">正在加载…</iframe></body>
</html>
